@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&family=Kumar+One&display=swap');

.kumar-one-font {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
}

.kufam-bold-font {
    font-family: "Kufam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.kufam-thin-font {
    font-family: "Kufam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}